#animcanvas
{
	display: block;
   	position: absolute; 
    left: 640px; 
    top: 30px;
}

#astronaut
{
	display: block;
   	position: absolute; 
    left: 855px; 
    top: 100px;
}
/*
.astronaut
{
	-webkit-animation: jump-y 2s;
}

@-webkit-keyframes jump-y {
	0% { -webkit-transform: translateY(0px); -webkit-animation-timing-function: ease-out; }	
	50% { -webkit-transform: translateY(-100px); -webkit-animation-timing-function: ease-in; }
	100% { -webkit-transform: translateY(0px); -webkit-animation-timing-function: ease-in; }	
}
*/