<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Install iGlasses</string>
	<key>CFBundleIconFile</key>
	<string>installer</string>
	<key>CFBundleIdentifier</key>
	<string>com.ecamm.installer.iGlasses3</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Install iGlasses</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>Ecamm iGlasses v3.3 Installer</string>
	<key>CFBundleSignature</key>
	<string>iGlI</string>
	<key>CFBundleVersion</key>
	<string>3.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Ecamm Installer Copyright 2006-2012 Ecamm Network, LLC</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
