#animcanvas
{
	display: block;
   	position: absolute; 
    left: 50px; 
    top: 50px;
   /* background-color: #F00 */
}

#levelImg
{
	display: block;
	position: absolute;
	left: 320px;
	top: 270px;
}
/*
#rawCanvas
{
	display: block;
	position: absolute;
	top: 50px;
}

/*
.astronaut
{
	-webkit-animation: jump-y 2s;
}

@-webkit-keyframes jump-y {
	0% { -webkit-transform: translateY(0px); -webkit-animation-timing-function: ease-out; }	
	50% { -webkit-transform: translateY(-100px); -webkit-animation-timing-function: ease-in; }
	100% { -webkit-transform: translateY(0px); -webkit-animation-timing-function: ease-in; }	
}
*/